body {
    background-image: url('https://images.pexels.com/photos/131667/pexels-photo-131667.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;


}

.Nav {
    margin-top: 0%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}


.mainNav {
    display: flex;
    background-color: rgba(250, 235, 215, 0.38);
    margin-top: -1%;
    margin-left: -0.5%;
    margin-right: -0.5%;
    cursor: pointer;
   



}



.mainNav ul {
    margin-top: 0;
}



.mainNav h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: rgb(92, 61, 3);
    padding-top: .5rem;
}



